.reveal {
  font-size: 1.7em !important
}

.slide-img {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  width: auto !important;
}

code {
  font-size: 2em !important;
  line-height: 2em !important;
}

.dark-bg {
  background: rgba(0, 0, 0, 0.4);
}

.vue-logo {
  height: 120px !important;
  width: auto !important;
  margin-bottom: -5px !important;
}

.vue-logo-small {
  height: 40px !important;
  width: auto !important;
  margin-bottom: -5px !important;
}

img {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  width: auto !important;
}

/* code {
  font-size: 2em !important;
  line-height: 2em !important;
} */

.emoji {
  font-size: 1.5em;
}

.dark-bg {
  background: rgba(0, 0, 0, 0.6);
  padding: 15px !important;
}

small {
  font-size: 0.5em !important;
}

.text-left {
  text-align: left;
}